body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 70px;
    background-color: rgb(20, 20, 36)
}
a{
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    height: 70px;
    width: 200px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.821);
    padding: 5px 5px;
}
 a::before{  
     position: absolute;
    content: ' ';
    display: block;
    position: relative;
    background-color: var(--clr);
    width: 60px;
    height: 250px;
    margin: auto;
    margin-top: -95px;
    animation-name: rotate;
    animation-iteration-count: infinite;
     animation-duration: 2s; 
     animation-timing-function: linear;
     padding: 0;
    z-index: 0;
} 
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
a span {
    position: absolute;
    margin-top: -150px;
    z-index: 2;
    width: 200px;
    background-color: rgb(20, 20, 36);
    margin-top: 0;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    padding: 23px 0;
}
a:hover{
    background-color: var(--clr);
    transition: 0.5s;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}
a:hover span{
    padding: 27px;
    background-color: var(--clr);
}